
<!-- {% extends 'core/navbar.html' %}

{% block content %}

<h3>Total: {{total}}</h3>

<button id="rzp-btn" class="btn btn-primary">Pay Now</button>

<script src="https://checkout.razorpay.com/v1/checkout.js"></script>

<script>
var options = {
    key: "{{key}}",
    amount: "{{payment.amount}}",
    currency: "INR",
    name: "My Shop",
    description: "Test Payment",
    order_id: "{{payment.id}}",

     method: {
        upi: true,
        card: true,
        netbanking: true,
        wallet: true
    },

    handler: function (response){
        alert("Payment Successful");
        window.location.href = "/payment-success/";
    }
};

var rzp1 = new Razorpay(options);

document.getElementById("rzp-btn").onclick = function(e){
    rzp1.open();
    e.preventDefault();
};
</script>

{% endblock %} -->