{% extends 'core/navbar.html' %}

   {% block content %}
      
      <div class="container mt-5">
        <h2 class="text-center text-success">LogIn</h2>

        <form method="POST" class="col-md-4 mx-auto">
        {% csrf_token %}

        <input type="text" name="username" placeholder="Username" class="form-control mb-3" required>

        <input type="password" name="password" placeholder="Password" class="form-control mb-3" required>

        <button type="submit" class="btn btn-success w-100">Login</button>
    </form>

    {% if error %}
      
      <h3 class="text-danger text-center">{{error}}</h3>

    {% endif %}

      </div>


   {% endblock content %}