 {% extends 'core/navbar.html' %}

{% block content %}

<div class="container mt-5">
    <h2 class="text-center">Register</h2>

   {% if messages %}

     {% for abc in messages %}
<div class="alert alert-danger" role="alert">{{abc}}</div>

      {% endfor %}
   {% endif %}
    <form method="POST" class="col-md-4 mx-auto">
        {% csrf_token %}

        <input type="text" name="username" placeholder="Username" class="form-control mb-3" required>

        <input type="password" name="password" placeholder="Password" class="form-control mb-3" required>

        <button type="submit" class="btn btn-success w-100">Register</button>
    </form>
</div>

{% endblock %}